body {
}

/* Custom container */
.container-narrow {
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
    min-height: 100%;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Jumbotron */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.fixed-bottom-footer {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    max-width: 700px;
}
